body {
    margin: 0px;
    padding: 0px;
}

.nav {
    margin-top: 0px;
    padding: 0px;
    background-color: #f46464;
    height: 3em;
}

.nav__title {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 2em;
    text-align: center;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
}

.main__text {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.main__timer {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-bottom: -50px;
}

.main__bar--green {
    width: 100%;
    background-color: #00ff8a;
    height: 50px;
}

.main__bar--red {
    width: 100%;
    background-color: #f46464;
}

.form__group {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.form__group--float {
    width: 48%;
}

.right {
    float: right;
    margin-left: 1%;
}

.left {
    float: left;
    margin-right: 1%;
}

.form__h2 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.form__label {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
}

.confirm__btn {
    display: block;
    clear: both;
    margin: 120px auto;
    width: 150px;
    height: 2.5em;
    border-radius: 2px;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
}